{% extends "BackOfficeBundle::layout.html.twig" %}

{% block title %}
    Détails projet  {{ parent() }}
{% endblock %}
{% block content_body %}
    <a href="{{ path('messages-projet', {'id': 1}) }}">fdgfdgfdgd</a>
    <div id="listmsg">


</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}



    <script>




        function refresh() {

            $.ajax({
                url: "{{ path('messages-projet', {'id': 1}) }}",
                success:
                        function(retour){

                            var msg=retour["messages"];

                            var str="";

                            for(var j=0 ; j< msg["id"].length; j++){
                                var id=msg["id"][j];
                                if(msg["nom"][j]=="Vous"){
                                    str+="<li class='right'> <img class='avatar' alt='Dennis Ji' +msg['photo'][j]+> <span class='message'><span class='arrow'></span> <span class='from'>+msg['nom'][j]+' '+msg['prenom'][j]+ : </span> <span class='time'>+msg['date'][j]+</span> <span class='text'>+msg['message'][j]+</span></span></li>";

                                }
                                else{
                                    str+="<li class='left'> <img class='avatar' alt='Dennis Ji' +msg['photo'][j]+> <span class='message'><span class='arrow'></span> <span class='from'>+msg['nom'][j]+' '+msg['prenom'][j]+ : </span> <span class='time'>+msg['date'][j]+</span> <span class='text'>+msg['message'][j]+</span></span></li>";
                                }

                            }

                            jQuery("#listmsg").html(str);





                        }
            });

            setTimeout('refresh();',2000);
        }
        jQuery(document).ready(function(){ refresh() });
        //refresh();
    </script>
{% endblock %}